* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App {
  width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  gap: 2rem;
  margin: auto;
}

.App>*,
input {
  width: 80%;
}

input {
  padding: .5rem;
}

button {
  width: 100px;
}

ul li {
  list-style: none;
  background-color: aquamarine;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

ul {
  width: 100%;
  height: 300px;
  max-height: 100%;

}